@media screen and (min-width: 1280px) {
    #CybotCookiebotDialog.CybotEdge .CybotCookiebotDialogContentWrapper {
        max-width: 1000px;
    }
}
@media screen and (min-width: 1510px) {
    #CybotCookiebotDialog.CybotEdge:not([lang=ta]):not([lang=bg]):not([lang=is]):not([lang=el]) #CybotCookiebotDialogFooter {
        margin: 1.5em 1.875em 0 1.5em !important;
    }
}

@media screen and (min-width: 1280px) {
    #CybotCookiebotDialog.CybotEdge #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyButtonsWrapper {
        flex-direction: row;
        gap: 0.5em;
    }
}

@media screen and (min-width: 1280px) {
    #CybotCookiebotDialog.CybotEdge #CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton {
        max-width: none;
        width: 12em;
        margin: 0;
        padding: 0.3em;
        border-radius: 0.5em;
    }

}

@media screen and (min-width: 1280px) {
    #CybotCookiebotDialog.CybotEdge .CybotCookiebotDialogContentWrapper {
        flex-direction: column;
    }
}
#CybotCookiebotDialogBody {
    flex-direction: column;
}

#CybotCookiebotDialogBodyFieldsetInnerContainer {
    gap: .5em 1.5em;
}

@media screen and (min-width: 1280px) {
    #CybotCookiebotDialog.CybotEdge #CybotCookiebotDialogBodyLevelButtonsSelectPane .CybotCookiebotDialogBodyLevelButtonWrapper {
        flex-direction: row;
        margin: 0;
        padding: 0;
        width: auto;
    }
}

@media screen and (min-width: 1280px) {
    #CybotCookiebotDialog.CybotEdge .CybotCookiebotDialogBodyLevelButtonLabel {
        margin-right: .75em;
    }
}

#CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonSliderWrapper, #CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonSliderWrapper {
    height: 20px;
    width: 34px;
}

#CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonSlider:before {
    height: 14px;
    width: 14px;
    bottom: 3px;
    left: 3px;
}

#CybotCookiebotDialog input:checked+.CybotCookiebotDialogBodyLevelButtonSlider:before, #CybotCookiebotDialog[dir=rtl] #CybotCookiebotDialogTabContent input+.CybotCookiebotDialogBodyLevelButtonSlider:before {
    transform: translateX(14px);
}

#CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonSlider {
    background-color: #cccccc;
}

#CybotCookiebotDialog input:checked+.CybotCookiebotDialogBodyLevelButtonSlider {
    background-color: #000000;
}


#CybotCookiebotDialogBodyLevelButtonsSelectPane .CybotCookiebotDialogBodyLevelButtonDescription, #CybotCookiebotDialogBodyLevelButtonsSelectPane .CybotCookiebotDialogBodyLevelButtonDescription  {
    font-weight: 400;
}

#CybotCookiebotDialog form input[type=checkbox][disabled]:checked+.CybotCookiebotDialogBodyLevelButtonSlider, #CybotCookiebotDialog form input[type=checkbox][disabled]:checked+.CybotCookiebotDialogBodyLevelButtonSlider {
    background-color: #868686;
}

@media screen and (min-width: 1510px) {
    #CybotCookiebotDialog.CybotEdge:not([lang=ta]):not([lang=bg]):not([lang=is]):not([lang=el]) .CybotCookiebotDialogBodyBottomWrapper {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        gap: 2em;
        align-items: center;
    }
}

#CybotCookiebotDialog.CybotEdge #CybotCookiebotDialogBodyEdgeMoreDetails a:after {
    margin-left: 0.5em;
}

#CybotCookiebotDialogNav, #CybotCookiebotDialogHeader {
    display: none;
}

@media screen and (min-width: 1280px) {
    #CybotCookiebotDialog #CybotCookiebotDialogBody .CybotCookiebotScrollContainer {
        min-height: 0 !important;
        width: auto;
    }
}

#CybotCookiebotDialog *, #CybotCookiebotDialogBodyUnderlay * {
    font-size: 14px;
}

@media screen and (min-width: 1280px) {
    #CybotCookiebotDialog.CybotEdge #CybotCookiebotDialogBodyButtons {
        max-width: none;
    }
}

@media screen and (min-width: 1280px) {
    #CybotCookiebotDialog.CybotEdge #CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton:not(:first-of-type) {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 601px) {
    #CybotCookiebotDialog {
        max-width: 540px;
    }
}

#CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton {
    border-radius: 0.5em;
    padding: 0.4em;
}

@media screen and (min-width: 1280px) {
    #CybotCookiebotDialog .CookieCard .CybotCookiebotDialogDetailBodyContentCookieTypeIntro {
        padding-left: 2.5em;
    }
}

.CybotCookiebotDialogDetailBodyContentCookieContainerButton.CybotCookiebotDialogCollapsed:before, .CybotCookiebotDialogDetailBodyContentIABv2Tab.CybotCookiebotDialogCollapsed:before {
    top: 0.5em;
    transform: rotate(-315deg);
}

.CybotCookiebotDialogDetailBodyContentCookieContainerButton:before, .CybotCookiebotDialogDetailBodyContentIABv2Tab:before {
    top: 0.4em;
    transform: rotate(135deg);
}

@media screen and (min-width: 1280px)
{
    #CybotCookiebotDialogDetailBodyContentCookieContainerTypes .CybotCookiebotDialogDetailBodyContentCookieTypeTableContainer, #CybotCookiebotDialogDetailBodyContentIABv2Tabs .CollapseCard {
        margin-left: 2.5em;
    }
}

#CybotCookiebotDialogDetailBodyContentCookieContainerTypes .CybotCookiebotDialogDetailBodyContentCookieProvider.CybotCookiebotDialogCollapsed:after {
    transform: rotate(-315deg);
}

#CybotCookiebotDialogDetailBodyContentCookieContainerTypes .CybotCookiebotDialogDetailBodyContentCookieProvider.CybotCookiebotDialogCollapsed:after, #CybotCookiebotDialogDetailBodyContentCookieContainerTypes .CybotCookiebotDialogDetailBodyContentCookieProvider:after {
    transform: rotate(135deg);
}
#CybotCookiebotDialogPoweredByText {
    display: none;
}

#CybotCookiebotDialogHeader {
    display: none;
}

#CybotCookiebotDialogBodyLevelButtonsSelectPane .CybotCookiebotDialogBodyLevelButtonWrapper {
    justify-content: unset;
    align-items: center;
    gap: .5em;
    width: auto;
    padding: .5em .5em .5em 0;
}

@media screen and (min-width: 601px) {
    #CybotCookiebotDialogBodyLevelButtonsSelectPane .CybotCookiebotDialogBodyLevelButtonLabel {
        margin-bottom: 0;
    }   
}

@media screen and (min-width: 601px) {
    #CybotCookiebotDialogBodyLevelButtonsSelectPane .CybotCookiebotDialogBodyLevelButtonWrapper {
        flex-direction: row;
        gap: 0.5em;
        padding: 0;
        width: auto;
    }
}

#CybotCookiebotDialogBodyContent {
    padding: 1em;
}

#CybotCookiebotDialog .CybotCookiebotDialogBodyBottomWrapper {
    padding: .5em 1.375em;
}

#CybotCookiebotDialogBody .CybotCookiebotScrollContainer {
    border: none;
}

@media screen and (min-width: 601px)
{
    #CybotCookiebotDialog #CybotCookiebotDialogBodyLevelButtonsSelectPane {
        border: none;
    }
}

#CybotCookiebotDialog.CybotEdge #CybotCookiebotDialogBodyEdgeMoreDetails {
    margin: 1.5em 0em 0.5em 0;
    justify-content: flex-start;
}

@media screen and (min-width: 1280px) {
    #CybotCookiebotDialog.CybotEdge #CybotCookiebotDialogBodyEdgeMoreDetails {
        margin: 0;
    }
}

#CybotCookiebotDialogBodyLevelButtonsSelectPane {
    border: none;
}

@media screen and (min-width: 1280px) {
    #CybotCookiebotDialog.CybotEdge.CybotMultilevel #CybotCookiebotDialogFooter {
        position: inherit;
        margin: 1.5em 1.5em 0 2.875em !important;
    }
}

@media screen and (min-width: 1280px) {
    #CybotCookiebotDialog.CybotEdge.CybotMultilevel .CybotCookiebotDialogBodyBottomWrapper {
        border-top: none;
        padding-top: 0;
        gap: 2em;
        margin-top: 1em;
    }
}

#CookiebotWidget #CookiebotWidget-buttons button {
    border-radius: 8px;
}
#CookiebotWidget #CookiebotWidget-buttons #CookiebotWidget-btn-change {
    background-color: #000;
    border-color: #000;
}
#CookiebotWidget .CookiebotWidget-consent-details button {
    align-items: center;
    color: #000;
}

.CookiebotWidget-main-logo {
    display: none;
}

#CookiebotWidget .CookiebotWidget-body .CookiebotWidget-consents-list li.CookiebotWidget-approved svg {
    fill: #000000;
}

#CookiebotWidget #CookiebotWidget-buttons button {
    min-height: 40px;
    padding: 8px 12px;
}

#CookiebotWidget #CookiebotWidget-buttons #CookiebotWidget-btn-withdraw {
    border-color: #141414;
}