/* CARDS */

/* Product Card */
.tt-product-card, 
.tt-product-card:hover, 
.tt-card, 
.tt-card:hover { 
    box-shadow: none; 
    background-color: unset; 
}

.tt-product-card::before,
.tt-card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1.5rem;
    background: white;
    transition: 
      border-radius var(--transition-base),
      box-shadow var(--transition-base),
      top var(--transition-base),
      left var(--transition-base),
      right var(--transition-base),
      bottom var(--transition-base);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .04), 0 1px 4px rgba(0, 0, 0, .03), 0 1px 2px rgba(0, 0, 0, .02);
}
.tt-card.dark::before {
    background: var(--black-a-96);
}

.tt-card.dark .btn-text.btn-arrow::after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 7.38197L15.4495 7.10674L15.4484 7.10617L15.4455 7.10464L15.4188 7.09062C15.393 7.07688 15.3516 7.05437 15.2965 7.02295C15.1862 6.96006 15.0213 6.86173 14.8166 6.72686C14.4066 6.4566 13.8417 6.0427 13.2383 5.47698C12.029 4.34323 10.6931 2.62751 10.1006 0.257462L8.16032 0.742528C8.87215 3.58987 10.4711 5.62416 11.8704 6.93605C11.8933 6.95755 11.9162 6.97887 11.9391 6.99999H0V8.99999H11.9391C11.9162 9.02112 11.8933 9.04243 11.8704 9.06393C10.4711 10.3758 8.87215 12.4101 8.16032 15.2575L10.1006 15.7425C10.6931 13.3725 12.029 11.6568 13.2383 10.523C13.8417 9.95729 14.4066 9.54338 14.8166 9.27313C15.0213 9.13826 15.1862 9.03993 15.2965 8.97704C15.3516 8.94562 15.393 8.92311 15.4188 8.90937L15.4455 8.89535L15.4484 8.89382L15.4495 8.89325L16 8.61803V7.38197Z' fill='white'/%3E%3C/svg%3E%0A");    
}

.tt-product-card:hover::before,
.tt-card:hover::before {
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    border-radius: 2.5rem;
    box-shadow: 0 20px 34px rgba(0, 0, 0, .06), 0 4px 10px rgba(0, 0, 0, .04), 0 1px 4px rgba(0, 0, 0, .03), 0 1px 8px rgba(0, 0, 0, .02);
}

@media screen and (max-width: 767px) {
    .tt-product-card:hover::before,
    .tt-card:hover::before {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; 
    }
}

/* Blog Card */
.tt-blog-card {
  .three-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    align-self: stretch;
  }

  .blog-card-media {
    -webkit-transition: all var(--transition-base);
    transition: all var(--transition-base);
  }

  &:hover {
    .blog-card-media {
      transform: scale(105%);
    }
  }
}

/* Roadmap Cards */
.tt-description-collapsable[data-collapse-state="collapsed"] .text-truncated {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tt-description-collapsable[data-collapse-state="expanded"] .text-truncated {
  -webkit-line-clamp: unset;
  overflow: visible;
  color: var(--black-a-60);
}

