/* FAQ Accordion */

.tt-faq {
  .tt-faq-container {
    .tt-faq-item {
      .ac-trigger {
        &::before, &::after {
          content: '';
          position: absolute;
          right: 0.5rem;
          top: 1rem;
          width: 2px;
          height: 0.6rem;
          background-color: var(--black-a-100);
          transition: all 0.2s;
        }
  
        &::after {
          transform: rotate(90deg);
        }
      }

      &.is-active {
        .ac-trigger:before {
          transform: rotate(90deg);
        }
      }
    }    
  }

  &.purple {
    .faq-group-heading {
      color: var(--purple-600);
    }
  }
}

