/* Global mixins */

@mixin transition($duration, $timing-function, $properties...) {
  $transitions: ();
  @each $property in $properties {
      $transitions: #{$transitions}, #{$property} #{$duration} #{$timing-function};
  }
  transition: #{$transitions};
}

